.sign-in {
    height: 35vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin: 10vw;
    width: 50vw;
    outline: solid 2px #02111b;
  }

  .flex {
    display: flex;
  }
  
  .center-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    border-radius: 2%;
    padding: 20px 0;
    background-color: #edf2f8;
    width: 35vw;
    color: #02111b;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }